@use "../../index.scss" as styles;

.project-container {
  padding: 12px;
}

.project-image-wrapper {
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-section-header {
  margin-top: 24px;
  margin-bottom: 18px;
  padding: 8px;
  color: white;
  background-color: styles.$color-base-dark-gray-two;
}

.section-paragraph {
  margin-top: 8px;
  margin-bottom: 8px;
  color: white;
}
