@use "../../index.scss" as styles;

.data-container {
  padding: 12px;
}

.image-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 12px;
}

.image-wrapper-3 {
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin-bottom: 12px;
  @media (max-width: 480px) {
    height: auto;
  }
}

.data-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-wrapper-two {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 12px;

  @media (max-width: 480px) {
    height: auto;
  }
}

.data-image-two {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-section-header {
  padding: 8px;
  margin-bottom: 18px;
  color: white;
  background-color: styles.$color-base-dark-gray-two;
}

.section-paragraph {
  margin-top: 8px;
  margin-bottom: 8px;
  color: white;
  margin-bottom: 24px;
}
